<nav>
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/convert" routerLinkActive="active" ariaCurrentWhenActive="page"><fa-icon [icon]="faCoffee"></fa-icon> Convert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-user"></i>User</a>
        </li>
        <li>
          <mat-form-field appearance="legacy">
            <mat-label>Season</mat-label>
            <mat-select formControl="seasonControl" (selectionChange)="this.gamedataService.loadXML()" [(value)]="this.gamedataService.activeSeason" required>
              <mat-option *ngFor="let season of this.gamedataService.seasons" [value]="season.id">
                {{season.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field appearance="legacy">
            <mat-label>Team</mat-label>
            <mat-select formControl="seasonControl" (selectionChange)="this.gamedataService.loadXML()" [(value)]="this.gamedataService.activeTeam" required>
              <mat-option *ngFor="let team of this.gamedataService.teams" [value]="team.id">
                {{team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </nav>