nav {
    background-color: #245dba;
    strong {
        color: #fff;
    }
}

strong {
    padding-left: 10px;
}

.example-action-buttons {
    padding: 0 10px 0 10px;
    .item {
        margin-left: 20px;
    }
}